extends ../../layout.pug


block prepend config
  -var lang = 'en';
  -var lvl = 1;
//- Title
block title
  title.
    wwworkshop | Web Development Environment

block lang
  +lang('index.html')
block lang-side
  +lang-side('index.html')  

block main-content