// ==========================================================================
// Language buttons
// ==========================================================================
.lang {
  display: flex;
  align-items: center;
  color: $uitext;
  transition: all 0.2s;

  &.side {
    justify-content: center;
    margin: 15px auto;
  }
  span {
    font-size: 1.8rem;
    font-weight: 300;
    margin-right: 10px;

    &.fa {
      font-size: 2.2rem;
    }
  }
  &:hover {
    color: $uialtern;
  }
}
