// =======================================================================
// Navigation
// =======================================================================
.menu-list {
  @extend %nav-list;
}

// Menu items
.menu-item a span {
  display: block;
  padding: 4px 0;
  font-size: 1.6rem;
  font-weight: 200;
  color: $uitext;
  text-transform: capitalize;
  border-radius: 3px;
  transition: 0.2s;

  &:hover {
    background: $uifocus;
    color: $uialtern;
  }
}

// Side menu items
#side-menu {
  .menu-item a span {
    padding: 12px 18px;
    border-radius: 0;
  }
}
