// ==========================================================================
// Extend classes
// ==========================================================================

// Clearfix
%clearfix {
  clear: fix;
}

%border-box {
  box-sizing: border-box;
}

// List without bullets
%nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Wrapper (see wrappers in layout/main.pcss)
%wrapping {
  @media ($vp-pp) {
    max-width: $wrapper-max-width - 920;
  }

  @media ($vp-pl) {
    max-width: $wrapper-max-width - 780;
  }

  @media ($vp-tp) {
    max-width: $wrapper-max-width - 492;
  }

  @media ($vp-tl) {
    max-width: $wrapper-max-width - 256;
  }

  @media ($vp-ds) {
    max-width: $wrapper-max-width;
  }
}
