// =======================================================================
// Variables
// =======================================================================

// Default values
$wrapper-max-width: 1200px;

// Default Fonts =========================================================
$sans-1 : "Source Sans Pro", sans-serif;
$serif-1: "Source Serif Pro", serif;

// Colors ================================================================

// Initialize main theme variables
$uiarea  : null;
$uifocus : null;
$uitext  : null;
$uialtern: null;
$uierror : null;
$area    : null;
$text    : null;

// Choose main theme 'L' = Light, 'D' = Dark
$main-theme: "D";

// Dark theme colors
$D_uiarea     : #333333;
$D_uifocus    : #2A2A2A;
$D_uitext     : #CFCFCF;
$D_uialtern   : #1dbf79;
$D_uierror    : #BF2A27;
$D_area       : #FCFCFC;
$D_text       : #3A3A3A;

// Main theme logic
@if $main-theme == "D" {
  $uiarea  : $D_uiarea;
  $uifocus : $D_uifocus;
  $uitext  : $D_uitext;
  $uialtern: $D_uialtern;
  $uierror : $D_uierror;
  $area    : $D_area;
  $text    : $D_text;
}

@else if $main-theme == "L" {
  $uiarea  : $L_uiarea;
  $uifocus : $L_uifocus;
  $uitext  : $L_uitext;
  $uialtern: $L_uialtern;
  $uierror : $L_uierror;
  $area    : $L_area;
  $text    : $L_text;
}

// Viewport Breakpoints ==================================================
$vp-pp: "min-width: 340px";
$vp-pl: "min-width: 480px";
$vp-tp: "min-width: 768px";
$vp-tl: "min-width: 1024px";
$vp-ds: "min-width: 1280px";
$vp-dl: "min-width: 1600px";
