// ==========================================================================
// Mixins library
// ==========================================================================

@mixin links($off, $on) {
  color: $off;
  transition: color 0.2s;

  &:hover {
    color: $on;
  }
}
