// =======================================================================
// Base rules
// =======================================================================
html {
  font-size: 62.5%;
}

nav, header, section, footer, div, span, ul, li {
  @extend %border-box;
}

a, p, span {
  font-family: $sans-1;
}

a {
  text-decoration: none;
}
