//- ==========================================================================
//- Main layout template (spanish version)
//- ==========================================================================

//- Conditional compilation ==================================================
//- Mixins
include mixins

block config
  unless dist == true
    - var cssExt   = '.css';
    - var jsExt    = '.js';
  else
    - var cssExt   = '.min.css';
    - var jsExt    = '.min.js';      
  //- file paths for spanish or any other lang
  - if((lang == 'en') && (lvl == 1)) {
    - var langPath = '../';
    - var docsPath = '../docs/';
    - var imgPath  = '../img/';
    - var cssPath  = '../css/';
    - var jsPath   = '../js/';
  - }
  - else if((lang == 'en') && (lvl == 2)) {
    - var langPath = '../../';
    - var docsPath = '../../docs/';
    - var imgPath  = '../../img/';
    - var cssPath  = '../../css/';
    - var jsPath   = '../../js/';
  - }
  - else if((lang == 'es') && (lvl == 1)) {
    - var langPath = 'lang/';
    - var pdfPath  = 'docs/';
    - var imgPath  = 'img/';
    - var cssPath  = 'css/';
    - var jsPath   = 'js/';
  - }
  - else if((lang == 'es') && (lvl == 2)) {
    - var langPath = '../en/';
    - var pdfPath  = '../docs/';
    - var imgPath  = '../img/';
    - var cssPath  = '../css/';
    - var jsPath   = '../js/';
  - }
      
doctype html
html#document
  //- head template ============================================================
  head
    //- meta tags
    meta(charset='utf-8')
    +device-fix

    block title
      title page title
    
    //- Description
    if lang == 'es'
      +description('')
    else if lang == 'en'
      +description('')
    
    //- Keywords
    if  lang == 'es'
      +keywords('')
    else if lang == 'en'
      +keywords('')
    
    //- CSS files section
    // Stylesheets
    +css('main')
    //- Custom CSS
    block css
      
    
    // Early js bind
    //- Optional scripts
    block js-head

  body#page-wrap
    //- Mobile navigation
    nav#side-navigation
      +img('logo.png', '')
      block lang-side
      +navigation(
        'side-menu',
        false,
        ['index.html', 'inicio', 'home', 'home'],
        ['products.html', 'productos', 'products', 'diamond' ],
        ['clients.html', 'clientes', 'clients', 'users'],
        ['payments.html', 'pagos', 'payments', 'cc-paypal'],
        ['tracking.html', 'agenda', 'tracking', 'address-book'],
        ['settings.html', 'ajustes', 'settings', 'cog']
      )

    div#content-side-shifter
      div#nav-wrap
        div#main-logo
          unless lvl == 2
            a(href='index.html'): +img('logo.png', '')
          else
            a(href='../index.html'): +img('logo.png', '')

        //- Language button  
        div#language
          block lang
        
        //- Powered by, delete this for production
        div#powered
          p Powered by:
          +img('gulpjs.svg', 'gulpjs')
          +img('node-sass.svg', 'node-sass')    
        
        //- Sidebar toggle  
        button(id='hamburger-button' class='hamburger hamburger--arrow-r' type='button')
          span.hamburger-box
            span.hamburger-inner    

        //- Main navigation
        nav#main-navigation
          +navigation(
            'main-menu',
            false,
            ['index.html', 'inicio', 'home'],
            ['products.html', 'productos', 'products'],
            ['clients.html', 'clientes', 'clients'],
            ['payments.html', 'pagos', 'payments'],
            ['tracking.html', 'agenda', 'tracking'],
            ['settings.html', 'ajustes', 'settings']
          )

      //- ======================================================================
      header#header-wrap
        block header
      div#breadcrumbs
        block breadcrumb

      main#content-wrap
        block main-content

      footer#footer-wrap
        div#footer-top
          div.wrapper
            div.footer-block
          
        div#footer-bottom
          div.wrapper
            p COPYRIGHT  ©  2017
            p DEVELOPED BY: RCDSP
  +script('bundle')        
  //- Optional scripts
  block js-late