//- ==========================================================================
//- Pug Mixins
//- ==========================================================================

//- Author meta tag
mixin author
  meta(name='Author' content='Ricardo Cordero da Silva P. <richard.cdsp@gmail.com>')

//- Viewport correction and phone control meta tags
mixin device-fix
  meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
  meta(name='format-detection' content='telephone=no')

//- Meta description
mixin description(description)
  meta(name="description" content= description)

//- Meta keywords
mixin keywords(keywords)
  meta(name="keywords" content= keywords)

//- Language
mixin lang(file)
  if lang == 'es'
    a(class='lang' href=`${langPath + file}`)
      span.fa.fa-globe
      span en-US
  else if lang == 'en'
    a(class='lang' href=`${langPath + file}`)
      span.fa.fa-globe
      span es-MX

mixin lang-side(file)
  if lang == 'es'
    a(class='lang side' href=`${langPath + file}`)
      span.fa.fa-globe
      span en-US
  else if lang == 'en'
    a(class='lang side' href=`${langPath + file}`)
      span.fa.fa-globe
      span es-MX

//- Language flags
mixin lang-flag(file)
  if lang == 'es'
    a(class='lang' href=`${langPath + file}`)
      span: img(src=`${imgPath}lang-en.png`)
      span English
  else if lang == 'en'
    a(class='lang' href=`${langPath + file}`)
      span: img(src=`${imgPath}lang-es.png`)
      span Español

mixin lang-side-flag(file)
  if lang == 'es'
    a(class='lang side' href=`${langPath + file}`)
      span: img(src=`${imgPath}lang-en.png`)
      span English
  else if lang == 'en'
    a(class='lang side' href=`${langPath + file}`)
      span: img(src=`${imgPath}lang-es.png`)
      span Español

//- Image mixin
mixin img(file, alt)
  img(src=`${imgPath + file}` alt=`${alt}`)

//- Image mixin with special id
mixin img-id(id, file, alt)
  img(id=`${id}` src=`${imgPath + file}` alt=`${alt}`)  

//- css link image
mixin css(file)
  link(rel=('stylesheet') href=`${cssPath + file + cssExt}`)

mixin script(file)
  script(src=`${jsPath + file + jsExt}`)

//- Menus and lists ==========================================================
mixin navigation(id, icon, ...items)
  ul(id=id class='menu-list')
    each item in items
      - var path;
      - var i;
      - lvl === 1 ? path = './' : path = '../'
      - lang === 'es' ? i = 1 : i = 2

        li.menu-item: a(href=`${path + item[0]}`)
          - if (icon === true) {
              span(class=`fa fa-${item[3]}`)
          - }
          span=item[i]