// =======================================================================
// Footer layout CSS file
// =======================================================================
#footer-wrap {
  #footer-top {
    .inner-wrap {
      .footer-block {
        display: block;
        text-align: center;
        margin: 30px auto;
      }
    }
  }
  #footer-bottom {
    @extend %clearfix;
    background: $uiarea;
    text-align: center;

    p {
      font-size: 1.4rem;
      font-weight: 200;
      margin: 0.5rem auto;
      color: $uitext;

      @media ($vp-tp) {
        &:first-child {
          float: left;
        }
        &:last-child {
          float: right;
        }
      }
    }
  }
}
