/*
==========================================================================
Main layout rules
==========================================================================
Here we define some general layout rules for layout control and define
some general layout rules that will help with responsive flow and layout
control for the content wrappers, then we import all of the remaining
layout files (layout rules for specific pages).

==========================================================================
Wrappers
==========================================================================
Wrappers will keep content from the edges of different screen's viewports,
the max width of the wrapper is defined in global.pcss as a variable and
set to 1200 by default. Depending on the viewport, that max width will be
modified in order to stay inside the new viewport, this is done by reducing
the max width to the viewport and then adding the margins, for example:

We get 432 by doing 1200 - 768 so if we want 30px of margin at each side
(left and right), we add 60 to our reducer which is 432 so:

(432 + 60 = 492) then --> (1200 - 492) = 708

we now have a max width of 708 for viewports going from 768 to our next
handle which is 1024 (every device from 768px to 1023px viewport width
will use 708 for the maxwidth of the wrapper).
*/

.wrapper {
  @extend %clearfix;
  @extend %wrapping;
  margin: 0 auto;
}
