// =======================================================================
// Navbar layout rules
// =======================================================================


// Side navigation
#side-navigation {
  img {
    display: block;
    width: 100px;
    height: auto;
    margin: 15px auto;
  }
}

// Navigation bar
#nav-wrap {
  @extend %clearfix;
  max-width: 1920px;
  width: 100%;
  background: $uiarea;

  // Main site logo
  #main-logo {
    float: left;
    margin: 15px;

    @media ($vp-pl) {
      margin: 15px 30px;
    }

    img {
      display: table;
      width: auto;
      height: 50px;
    }
  }

  // Language button
  #language {
    float: left;
    display: flex;
    align-items: center;
    height: 80px;
  }
}


// Hamburger button
#hamburger-button {
  float: right;
  margin: 17px 5px;

  @media ($vp-pl) {
    margin: 17px 20px;
  }

  @media ($vp-tl) {
    display: none;
    visibility: hidden;
  }
}

// Main navigation
#main-navigation {
  display: none;
  visibility: hidden;
  width: 500px;
  float: right;
  margin-right: 30px;

  @media ($vp-tl) {
    display: block;
    visibility: visible;
  }

  #main-menu {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      flex-grow: 1;
      text-align: center;
    }
  }
}
