// =======================================================================
// Main CSS file, import centralize
// =======================================================================

@charset "utf-8";

// Variables, mixins, extends and font-awesome
@import "utils/font-awesome";
@import "utils/global";
@import "utils/mixins";
@import "utils/extends";

// Normalize and Base rules
@import "base/export";

// Layout rules
@import "layout/export";

// Modules
@import "modules/export";

// Powered by Module, delete this for production
#powered {
  float: left;
  display: flex;
  align-items: center;
  padding-left: 50px;

  p {
    font-family: $sans-1;
    font-size: 1.6rem;
    font-weight: 200;
    text-transform: uppercase;
    color: $uitext;
  }
  img {
    height: 40px;
    width: auto;
    margin: 20px 0 20px 30px;
  }
}
